attrs~=21.4.0
toml~=0.10.2
docutils~=0.18.1
lxml~=4.8.0
pbr~=5.9.0
setuptools~=62.3.2
six~=1.16.0
virtualenv~=20.14.1
typing~=3.7.4.3
pip~=22.1.1
pathlib~=1.0.1
py~=1.11.0
Pillow~=9.1.1
Jinja2~=2.11.3
doc8~=0.11.2
tomli~=2.0.1
stevedore~=3.5.0
MarkupSafe~=2.0.1
packaging~=21.3
requests~=2.27.1
pytest~=7.1.2
Pygments~=2.12.0
certifi~=2022.5.18
idna~=3.3
urllib3~=1.26.9
simplejson~=3.17.6
pyparsing~=3.0.9
future~=0.18.2
pluggy~=1.0.0
iniconfig~=1.1.1
Twisted~=22.4.0
numpy~=1.22.4
gitdb~=4.0.9
PyYAML~=6.0
smmap~=5.0.0
bandit~=1.7.4
isort~=5.10.1
flake8~=4.0.1
pyflakes~=2.4.0
pycodestyle~=2.8.0
dill~=0.3.4
pylint~=2.13.9
astroid~=2.11.5
mccabe~=0.6.1
platformdirs~=2.5.2
wrapt~=1.14.1
commonmark~=0.9.1
webencodings~=0.5.1
vulture~=2.3
black~=22.3.0
pathspec~=0.9.0
click~=8.1.3